<% provide(:title, @review.name + " Reviewers") %>

<%= render 'shared/breadcrumb' %>

<div class="page-header">
  <h1>Reviewers for <%= @review.name %></h1>
</div>


<div class="row">
  <div class="span8">
    <div class="well">
      <% if @review.reviewers.any? %>
        <ul class="users">
          <% 
            @review.review_reviewers.each do |review_reviewer| 
              
              puts "********* app/views/reviewers/edit.html.erb"
              puts "review: "
              pp @review
              puts "review_reviewer"
              pp review_reviewer
              
            %>
            <%= render  :partial => "reviewer", 
                        :locals => {
                                    :reviewer => review_reviewer.reviewer, 
                                    :relationship => review_reviewer.relationship
                                    } 
            %>
          <%end%>
        </ul>
      <% end %>
      
      <%= nested_form_for(@review, url: edit_reviewer_path(@review), html: {class: "well"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

          <%= f.fields_for :review_reviewers, 
                f.object.review_reviewers.empty? ? 
                f.object.review_reviewers.build : 
                :review_reviewers do |review_reviewer_form| %>
          
            <%= review_reviewer_form.label :relationship, class: "" %>
            <%= review_reviewer_form.text_field :relationship, class: "" %>
       
            <%= review_reviewer_form.fields_for :reviewer do |reviewer_form| %>
       
       
              <%= reviewer_form.label :email, class: "" %>
              <%= reviewer_form.text_field :email, class: "" %>
            <% end %>
         
        <% end %>


        <div class="form-actions">
          <%= f.submit "Invite Reviewer", class: "btn btn-primary" %>
        </div>
      <% end %>
      
    
    </div>
  </div>
</div>