<% provide(:title, @review.name + " Reviewers") %>

<ul class="breadcrumb">
  <li>
    <a href="#"><%= @current_user.name %></a> 
    <span class="divider">/</span>
  </li>
  <li class="active">
    <%= @review.name %>
    <span class="divider">/</span>
  </li>
  <li>Reviewers</li>
</ul>

<div class="page-header">
  <h1>Reviewers for <%= @review.name %></h1>
</div>


<div class="row">
  <div class="span8">
    <div class="well">
      <% if @review.reviewers.any? %>
        <ul class="users">
          <% 
            @review.review_reviewers.each do |review_reviewer| 
            %>
            <%= render  :partial => "reviewer", 
                        :locals => {
                                    :reviewer => review_reviewer.reviewer, 
                                    :relationship => review_reviewer.relationship
                                    } 
            %>
          <%end%>
        </ul>
	  <% else %>
		<p>You have not added any reviewers yet.</p>
      <% end %>

	 <%= link_to "Add Reviewer +", new_review_reviewer_path(@review), class: "btn btn-primary" %>
  
 
    
    </div>
  </div>
</div>