<%= form_for(@user, html: {class: "well"}) do |f| %>
  <%= render 'shared/error_messages' %>


    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "" %>
  
    <%= f.label :last_name, class: "" %>
    <%= f.text_field :last_name, class: "" %>

    <%= f.label :email, class: "" %>
    <%= f.text_field :email, class: "" %>

    <%= f.label :password, class: "" %>
    <%= f.password_field :password, class: "" %>

    <%= f.label :password_confirmation, "Confirmation", class: "" %>
    <%= f.password_field :password_confirmation, class: "" %>
  
  <div class="form-actions">
    <%= f.submit "Create Account", class: "btn btn-primary" %>
    <%= f.button "Cancel", class: "btn" %>
  </div>
<% end %>
