<% provide(:title, @user.name) %>

<ul class="breadcrumb">
  <li>
    <a href="#"><%= @user.name %></a> 
    <span class="divider">/</span>
  </li>
  <li class="active">Profile</li>
</ul>

<div class="page-header">
  <h1 id="profile">
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>

<div class="row">
  <div class="span4">
    <strong>First name:</strong>  <%= @user.first_name %><br />
    <strong>Last name:</strong>  <%= @user.last_name %><br />
    <strong>Email:</strong>  <%= @user.email %><br />
    <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    
  </div>
</div>

    <td class="sidebar round">
    </td>
  </tr>  
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
