<li class="review-row">
  <div class="pull-left">
    <div class="content"><%= link_to review.name, review_review_path(review) %></div>
    <% if review.active? %>
      <div class="timestamp">
        Expires in <%= distance_of_time_in_words(Time.now, review.expiry) %>.
      </div>
    <% end %>
  </div>
  <div class="pull-right">
    <div class="btn-group">
      <button class="btn"><%= review.status.humanize %></button>
      <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= link_to "Edit", edit_review_path(review) %>
        </li>
        <li>
          <%= link_to "Manage Reviewers", review_reviewers_path(review) %>
        </li>
      </ul>
    </div>
  <div>
</li>