<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container"> 
          <nav>
            <% logo = image_tag("logo-multirate.png", :alt => "Multirate.Me", :class => "logo") %>
            <%= link_to logo, root_path %>
<!--            <div class="nav-collapse"> -->
              <ul class="nav pull-right">
                <li <%= nav_class(root_path) %>><%= link_to "Home", root_path %></li>
                <li <%= nav_class(about_path) %>><%= link_to "About", about_path %></li>
                <li <%= nav_class(contact_path) %>><%= link_to "Contact", contact_path %></li>
                <li <%= nav_class(help_path) %>><%= link_to "Help", help_path %></li>
                <li <%= nav_class(nil) %>><%= link_to "Sign in", '#' %></li>
              </ul>
<!--            </div> -->
          </nav>
        </div> 
      </div>
    </header>
    
    
    <div class="container main-container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>
      
      <footer>
        <div class="container"> 
          Copyright &copy; CityLights Co.
        </div>
      </footer>
      
      <%= debug(params) if Rails.env.development? %>
      
    </div>
  
</body>
</html>
